<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Floor Note</title>
    <meta content="IE=edge" http-equiv="x-ua-compatible">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="<%= asset_path('favicon.ico') %>">

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:300,400,700' rel='stylesheet' type='text/css'>

    <!-- Icons -->
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" media="all" rel="stylesheet" type="text/css">

    <!-- Styles -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <% if @default_js %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <% else %>
      <%= javascript_include_tag params[:controller]+'_'+params[:action], 'data-turbolinks-track' => true %>
    <% end %>
	<%= csrf_meta_tags %>

</head>

<script>
var PageSettings = {
	controller: '<%= params[:controller] %>',
	action: '<%= params[:action] %>',
};
var SidebarLocale = {
	current: '<%= I18n.locale %>',
	words: {
		removeSession: '<%= I18n.t "index.remove_session" %>',
		confirmResetButton: '<%= I18n.t "index.confirm_reset_button" %>',
		resetButton: '<%= I18n.t "sidebar.reset_session" %>',
    warnFinish: '<%= I18n.t "sidebar.warn_finish" %>',
    finishAll: '<%= I18n.t "index.finish_all" %>'
	}
};
var User = {
  <% if user_signed_in? %>
    signedIn: true,
    email: '<%= current_user.email %>',
    activeCount: 3,
  <% else %>
    signedIn: false,
    email: '',
    activeCount: 1,
  <% end %>
};
var deadSession = <%= @dead_session.as_json %>;
</script>

  <body>
    <div id="main"> <!-- Main Container -->
      <!-- Sidebar -->
      <ul id="slide-out" class="side-nav primary-color collapsible">
        <li>
          <div class="sidenav-header">

            <!-- Avatar -->
            <div class="nav-avatar">
              <img class="circle avatar" src="<%= asset_path('logo_white_s.png') %>" alt="">
              <div class="avatar-body">
                <h3>FloorNote</h3>
                <% if user_signed_in? %>
                  <p><%= current_user.email %></p>
                <% else %>
                  <p><%= I18n.t 'user.anonymous' %></p>
                <% end %>
              </div>
            </div>
          </div>
        </li>

        <!-- Menu -->
        <li><a href="<%= root_path( :locale => I18n.locale ) %>" class="no-child"><i class="ion-ios-home-outline"></i> <%= I18n.t 'sidebar.home_link' %></a></li>
        <% if params[:controller] == 'work' && params[:action] == 'active_session' %>
          <li><a href="<%= finish_work_path( :id => params[:id] ) %>" class="no-child complete-link" data-method="DELETE"><i class="ion-ios-flag"></i> <%= I18n.t 'index.mark_finish' %></a></li>
        <% end %>
        <li>
          <div class="collapsible-header">
            <i class="ion-ios-paper-outline"></i> <%= I18n.t 'sidebar.session_link' %> <span class="badge" id="activeSessionCount"><%= @session_count %></span>
          </div>
          <div class="collapsible-body">
            <ul class="collapsible">
              <li>
                <% if @session_count == 0 %>
                  <a href="<%= root_path(:locale => I18n.locale) %>" class="no-child"><i class="ion-ios-play-outline"></i> <%= I18n.t 'index.start_new' %></a>
                <% else %>
                  <% @active_session_info.each do |active| %>
                    <a href="<%= normal_mode_path(:locale => I18n.locale, :id => active['id']) %>" class="no-child"><i class="<%= (active['id'] == params[:id].to_i) ? 'ion-ios-circle-filled current-session-li' : 'ion-ios-circle-outline'%>"></i> <span><%= active["name"] %></span></a>
                  <% end %>
                  <a href="<%= finish_all_path(:locale => I18n.locale) %>" class="no-child" data-method="DELETE" id="finishAllLink"><i class="ion-ios-flame"></i> <span class="resetText"><%= I18n.t 'index.finish_all' %></a></a>
                <% end %>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="collapsible-header">
            <i class="ion-ios-browsers-outline"></i> <%= I18n.t 'sidebar.blank_session_link' %> <span class="sidebar-item-control"><i class="ion-ios-circle-filled action-icon" id="blankActiveDisplay"></i></span>
          </div>
          <div class="collapsible-body">
            <ul class="collapsible">
              <li>
                <a href="<%= blank_mode_path( :locale => I18n.locale ) %>" class="no-child" id="continueBlankLink"><i class="ion-ios-play-outline"></i> <%= I18n.t 'index.continue_session' %></a>
                <a href="<%= blank_mode_path( :locale => I18n.locale ) %>?r=10" class="no-child" id="newBlankLink"><i class="ion-ios-play-outline"></i> <%= I18n.t 'index.go' %></a>
                <a href="javascript:void(0)" class="no-child" id="resetBlankLink"><i class="ion-ios-close-empty"></i> <span class="resetText"><%= I18n.t 'sidebar.reset_session' %></span></a>
                <a href="javascript:void(0)" class="no-child" id="discardBlankLink"><i class="ion-ios-close-empty"></i> <span class="resetText"><%= I18n.t 'sidebar.reset_session' %></span></a>
              </li>
            </ul>
          </div>
        </li>
        <li><a href="<%= tutorial_path(:locale => I18n.locale) %>" class="no-child"><i class="ion-ios-help-outline"></i> <%= I18n.t 'sidebar.tutorial_link' %></a></li>
        <!-- <li><a href="news.html" class="no-child"><i class="ion-ios-book-outline"></i> <%= I18n.t 'sidebar.terms_link' %></a></li> -->
        <li><a href="<%= compare_path(:locale => I18n.locale) %>" class="no-child"><i class="ion-ios-people-outline"></i> <%= I18n.t 'sidebar.compare_plan' %></a></li>
        <li><a href="<%= improve_path(:locale => I18n.locale) %>" class="no-child"><i class="ion-ios-heart"></i> <%= I18n.t 'sidebar.help_us' %></a></li>
        <% if user_signed_in? %>
          <li><a href="<%= destroy_user_session_path(:locale => I18n.locale) %>" class="no-child" data-method="DELETE"><i class="ion-ios-body-outline"></i> <%= I18n.t('sidebar.logout_link') %></a>)</li>
        <% else %>
          <li><a href="<%= new_user_session_path(:locale => I18n.locale) %>" class="no-child"><i class="ion-ios-body-outline"></i> <%= I18n.t('sidebar.login_link') %></a>)</li>
        <% end %>
      </ul>
      <!-- End of Sidebars -->

      <!-- Toolbar -->
      <div id="toolbar" class="primary-color">
        <div class="title"><%= @title_name %> <span id="appUseSpan"></span></div>
        <div class="open-right" id="open-right" data-activates="slide-out">
          <i class="ion-android-menu"></i>
        </div>
      </div>
      <!-- End of Toolbar -->

      
      
      <!-- Page Contents -->
      <div class="page">

        <% if !flash[:notice].nil? %>
          <div class="notification notification-info">
          <%= flash[:notice] %>
          </div>
        <% end %>

        <% if !flash[:alert].nil? %>
          <div class="notification notification-warning">
          <%= flash[:alert] %>
          </div>
        <% end %>

      	<%= yield %>

        <!-- Footer -->
        <% if @hide_footer != true %>
        <footer class="page-footer primary-color">
          <div class="footer-copyright">
            <div class="container">
            <%= DateTime.now.strftime("%Y") %> &copy; Floor Note

            <%= link_to 'EN', {:locale => 'en'}, :class => 'grey-text text-lighten-4 right' %> 
            <%= link_to '中', {:locale => 'zh'}, :class => 'grey-text text-lighten-4 right' %>
            </div>
          </div>
        </footer>
        <% end %>

      </div> 
      <!-- End of Page Contents -->

    </div><!-- End of Main Container -->
    
    
  </body>
</html>